/* ### Primary

- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%)

*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  font-family: "Manrope", sans-serif;
}

.card {
  max-width: 444px;
  padding: 2.5rem;
  background-color: hsl(217, 19%, 24%);
  border-radius: 1rem;
  text-align: center;
  position: relative;
}

p,
h3 {
  margin-bottom: 1rem;
}

p {
  color: hsl(150, 100%, 66%);
}

h3 {
  color: hsl(193, 38%, 86%);
}

.dice {
  position: absolute;
  left: 45%;
  bottom: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  transition: all linear 200ms;
}

.dice:hover {
  box-shadow: 0 0 10px 5px hsl(150, 100%, 66%);
}
